:root {
    --icons-color : #E63946;
    --secondary-color : #435663;
    --third-color : #A3B087;
    --fourth-color : #FFF8D4 ;
    --nav-color : #0B0C10;
    --nav-links : #F1FAEE;
    --nav-links-hover : #00FFF5;
    --nav-underline : #E63946;
}

